.popover {
	border: 1px solid gainsboro;
	border-radius: 4px;
	display: inline-block;
}

.popover .header {
	
}

.popover .content {
	
}

table#calendar {
	font-family: monospace;
	background-color: #fefefe;
	width: 22ex;
	height: 11em;
}
#calendar tbody {
	position: absolute;
	background-color: inherit;
}
#calendar tbody td {
	text-align: right;
	color: #999;
}
#calendar tbody td.current {
	color: #222;
}
#calendar tbody td.current.weekend {
	color: red;
}
#calendar tbody td.active {
	font-weight: 700;
}
#calendar tbody.active {
	z-index: 1;
}